.blockShow {
  width: 40%;
  height: 601px;
  /* -webkit-filter: blur(13.2px);
  filter: blur(13.2px); */
  background-image: linear-gradient(134deg, #5560c2 2%, #5560c2 98%);
  border-bottom-right-radius: 30px;
  border-top-right-radius: 10%;
}
